MONGODB_NAME=
MONGODB_URI=
EMAIL_CHANNEL_NAME=
EMAIL_HOST=
MAIL_HOST=
MAIL_PASSWORD=
MAIL_PORT=
MAIL_USERNAME=

# Added gRPC addresses
AI_REVIEW_SENTIMENT_GRPC_ADDRESS=
CATALOG_SERVICE_GRPC_ADDRESS=
MEDIA_SERVICE_GRPC_ADDRESS=
MESSAGE_SERVICE_GRPC_ADDRESS=
ORDER_SERVICE_GRPC_ADDRESS=
PROMOTION_SERVICE_GRPC_ADDRESS=
REVIEW_SERVICE_GRPC_ADDRESS=
USER_SERVICE_GRPC_ADDRESS=
CART_SERVICE_GRPC_ADDRESS=
NOTIFICATION_SERVICE_GRPC_ADDRESS=
GRPC_MEDIA_SERVICE_ADDRESS=
TRANSLATION_TIMEOUT=
TRANSLATION_CACHE_TTL=
KAFKA_HOST=
KAFKA_PORT=
