DB_URL=
DB_USERNAME=
DB_PASSWORD=

KAFKA_BOOTSTRAP_SERVERS=
KAFKA_CONSUMER_GROUP_ID=

REDIS_HOST=
REDIS_PORT=

GRPC_SERVER_PORT=
TZ=
JAVA_TOOL_OPTIONS=
SERVER_PORT=

# Added gRPC addresses
AI_REVIEW_SENTIMENT_GRPC_ADDRESS=
CATALOG_SERVICE_GRPC_ADDRESS=
MEDIA_SERVICE_GRPC_ADDRESS=
MESSAGE_SERVICE_GRPC_ADDRESS=
ORDER_SERVICE_GRPC_ADDRESS=
PROMOTION_SERVICE_GRPC_ADDRESS=
REVIEW_SERVICE_GRPC_ADDRESS=
USER_SERVICE_GRPC_ADDRESS=
CART_SERVICE_GRPC_ADDRESS=
NOTIFICATION_SERVICE_GRPC_ADDRESS=
GRPC_MEDIA_SERVICE_ADDRESS=
TRANSLATION_TIMEOUT=
TRANSLATION_CACHE_TTL=
