__pycache__
*.pyc
.git
.env
models/
checkpoints/
outputs/

**/models/
**/checkpoints/
**/outputs/
*.ckpt
*.pkl
*.pt
*.pth
*.safetensors
*.onnx
*.glb
*.gltf
*.obj

build/
bin/
.gradle/
out/
.idea/

**/build/
**/bin/
**/.gradle/
**/out/
