AUTH_SERVER_URL=

APP_SECURITY_WHITELIST_PUBLIC_ALL=

APP_SECURITY_WHITELIST_AUTH_ALL=

APP_SECURITY_WHITELIST_PASSWORD_ALL=

APP_SECURITY_WHITELIST_OAUTH_ALL=

APP_SECURITY_WHITELIST_PUBLIC_GET=

REDIS_HOST=

CORS_ALLOWED_ORIGINS=
CORS_ALLOWED_HEADERS=

USER_SERVICE_URL=
CATALOG_SERVICE_URL=
CART_SERVICE_URL=
NOTIFICATION_SERVICE_URL=
ORDER_SERVICE_URL=
MEDIA_SERVICE_URL=
AI_IMAGE_CLASSIFIER_URL=
AI_IMAGE_RECONSTRUCTION_URL=
ADMIN_SERVICE_URL=
PROMOTION_SERVICE_URL=
MESSAGE_SERVICE_WS_URL=

KAFKA_UI_URL=
ZIPKIN_URL=

TZ=
JAVA_TOOL_OPTIONS=
SERVER_PORT=

# Added gRPC addresses
AI_REVIEW_SENTIMENT_GRPC_ADDRESS=
CATALOG_SERVICE_GRPC_ADDRESS=
MEDIA_SERVICE_GRPC_ADDRESS=
MESSAGE_SERVICE_GRPC_ADDRESS=
ORDER_SERVICE_GRPC_ADDRESS=
PROMOTION_SERVICE_GRPC_ADDRESS=
REVIEW_SERVICE_GRPC_ADDRESS=
USER_SERVICE_GRPC_ADDRESS=
CART_SERVICE_GRPC_ADDRESS=
NOTIFICATION_SERVICE_GRPC_ADDRESS=
GRPC_MEDIA_SERVICE_ADDRESS=
TRANSLATION_TIMEOUT=
TRANSLATION_CACHE_TTL=
