SPRING_DATASOURCE_URL=
SPRING_DATASOURCE_USERNAME=
SPRING_DATASOURCE_PASSWORD=
GRPC_SERVER_PORT=
NOTIFICATION_SERVICE_GRPC_HOST=
NOTIFICATION_SERVICE_GRPC_PORT=
USER_SERVICE_GRPC_HOST=
USER_SERVICE_GRPC_PORT=
ORDER_SERVICE_GRPC_HOST=
ORDER_SERVICE_GRPC_PORT=
CART_SERVICE_GRPC_HOST=
CART_SERVICE_GRPC_PORT=
CATALOG_SERVICE_GRPC_HOST=
CATALOG_SERVICE_GRPC_PORT=
TZ=
JAVA_TOOL_OPTIONS=
SERVER_PORT=

# Added gRPC addresses
AI_REVIEW_SENTIMENT_GRPC_ADDRESS=
CATALOG_SERVICE_GRPC_ADDRESS=
MEDIA_SERVICE_GRPC_ADDRESS=
MESSAGE_SERVICE_GRPC_ADDRESS=
ORDER_SERVICE_GRPC_ADDRESS=
PROMOTION_SERVICE_GRPC_ADDRESS=
REVIEW_SERVICE_GRPC_ADDRESS=
USER_SERVICE_GRPC_ADDRESS=
CART_SERVICE_GRPC_ADDRESS=
NOTIFICATION_SERVICE_GRPC_ADDRESS=
GRPC_MEDIA_SERVICE_ADDRESS=
TRANSLATION_TIMEOUT=
TRANSLATION_CACHE_TTL=
