FRONTEND_URL=
SPRING_DATASOURCE_URL=
SPRING_DATASOURCE_USERNAME=
SPRING_DATASOURCE_PASSWORD=
VNPAY_API_URL=
VNPAY_HASH_SECRET=
VNPAY_RETURN_URL=
VNPAY_TMN_CODE=
VNPAY_URL=

# Added gRPC addresses
AI_REVIEW_SENTIMENT_GRPC_ADDRESS=
CATALOG_SERVICE_GRPC_ADDRESS=
MEDIA_SERVICE_GRPC_ADDRESS=
MESSAGE_SERVICE_GRPC_ADDRESS=
ORDER_SERVICE_GRPC_ADDRESS=
PROMOTION_SERVICE_GRPC_ADDRESS=
REVIEW_SERVICE_GRPC_ADDRESS=
USER_SERVICE_GRPC_ADDRESS=
CART_SERVICE_GRPC_ADDRESS=
NOTIFICATION_SERVICE_GRPC_ADDRESS=
GRPC_MEDIA_SERVICE_ADDRESS=
TRANSLATION_TIMEOUT=
TRANSLATION_CACHE_TTL=
KAFKA_HOST=
KAFKA_PORT=
