# ==========================================
# CẤU HÌNH MÔI TRƯỜNG (Media Service)
# ==========================================

# Database Postgres
DATASOURCE_URL=
DATASOURCE_USERNAME=
DATASOURCE_PASSWORD=

# Cloudinary
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# gRPC
GRPC_SERVER_PORT=

# Upload limits
MAX_FILE_SIZE=
MAX_REQUEST_SIZE=

TZ=
JAVA_TOOL_OPTIONS=
SERVER_PORT=

# Added gRPC addresses
AI_REVIEW_SENTIMENT_GRPC_ADDRESS=
CATALOG_SERVICE_GRPC_ADDRESS=
MEDIA_SERVICE_GRPC_ADDRESS=
MESSAGE_SERVICE_GRPC_ADDRESS=
ORDER_SERVICE_GRPC_ADDRESS=
PROMOTION_SERVICE_GRPC_ADDRESS=
REVIEW_SERVICE_GRPC_ADDRESS=
USER_SERVICE_GRPC_ADDRESS=
CART_SERVICE_GRPC_ADDRESS=
NOTIFICATION_SERVICE_GRPC_ADDRESS=
GRPC_MEDIA_SERVICE_ADDRESS=
TRANSLATION_TIMEOUT=
TRANSLATION_CACHE_TTL=
